
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 209 33% 94%; /* #eef6f7 */
    --foreground: 184 91% 17%;

    --card: 0 0% 100%;
    --card-foreground: 184 91% 17%;

    --popover: 0 0% 100%;
    --popover-foreground: 184 91% 17%;

    --primary: 184 58% 44%; /* #29a8b6 */
    --primary-foreground: 0 0% 100%;

    --secondary: 184 44% 94%;
    --secondary-foreground: 184 91% 17%;

    --muted: 184 44% 94%;
    --muted-foreground: 184 25% 45%;

    --accent: 184 94% 34%; /* #089bab */
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 184 44% 87%;
    --input: 184 44% 87%;
    --ring: 174 100% 29%;

    --radius: 0.5rem;

    --sidebar-background: 184 94% 34%; /* #089bab */
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 184 58% 44%; /* #29a8b6 */
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 184 58% 44%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 184 44% 87%;
    --sidebar-ring: 174 100% 29%;
  }

  .dark {
    --background: 184 91% 8%;
    --foreground: 184 44% 94%;

    --card: 184 91% 8%;
    --card-foreground: 184 44% 94%;

    --popover: 184 91% 8%;
    --popover-foreground: 184 44% 94%;

    --primary: 184 58% 44%;
    --primary-foreground: 0 0% 100%;

    --secondary: 184 50% 15%;
    --secondary-foreground: 184 44% 94%;

    --muted: 184 50% 15%;
    --muted-foreground: 184 25% 70%;

    --accent: 184 94% 34%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 184 44% 94%;

    --border: 184 50% 15%;
    --input: 184 50% 15%;
    --ring: 174 100% 35%;
    --sidebar-background: 184 94% 34%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 184 58% 44%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 184 58% 44%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 184 50% 15%;
    --sidebar-ring: 174 100% 35%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
